@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__other {
  background-color: #333;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px 0 0 0;
}
@media (max-width: 425px) {
  .aboutus {
    margin: 30px 0 0 0;
  }
}
.aboutus__text {
  margin: 0 0 50px 0;
}
.aboutus__title {
  padding: 0 0px 25px 0;
  font-size: 36px;
  color: #333;
  font-weight: 700;
}
.aboutus__subtext {
  margin: 100px 0 100px 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 425px) {
  .aboutus__subtext {
    margin: 30px 0 30px 0;
  }
}

.about_foto {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
@media (max-width: 425px) {
  .about_foto {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.foto__text {
  position: absolute;
  color: #fff;
  text-shadow: rgb(105, 105, 105) 5px 0px 50px;
  padding: 150px 50px 0;
  text-align: left;
  font-size: 54px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .foto__text {
    padding: 100px 50px 0;
  }
}
@media (max-width: 768px) {
  .foto__text {
    padding: 90px 20px 0 20px;
    font-size: 30px;
  }
}

.header__other {
  background-color: #333;
}

/* Contact */
.contact {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact__text {
  padding: 0 0 40px;
}
.contact__text h2 {
  font-weight: 700;
  font-size: 24px;
}
.contact__text p {
  font-size: 15px;
}

iframe {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__green {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
  background-color: #60BA19;
}

.container__green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.text {
  font-size: 24px;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1270px) {
  .container {
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  margin: 101px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../image/intro.png") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  color: #fff;
  font-size: 50px;
  font-family: 700;
  text-transform: initial;
  text-align: center;
  line-height: 1;
}
@media (max-width: 425px) {
  .intro__title {
    font-size: 40px;
  }
}
@media (max-height: 425px) {
  .intro__title {
    margin-top: 100px;
  }
}
@media (max-height: 375px) {
  .intro__title {
    margin-top: 100px;
    font-size: 30px;
  }
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 60px auto;
  background-color: #fff;
}

.intro__suptitle {
  margin-bottom: 20px;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

/* Header */
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__other {
  background-color: #333;
}

.header:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px auto 0;
  background-color: #fff;
  opacity: 0.3;
  z-index: 20;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
.header__logo img {
  width: 50px;
  height: 50px;
}
.header__logo a {
  position: relative;
  padding-left: 20px;
  color: #fff;
}
@media (max-width: 425px) {
  .header__logo a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 120px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    overflow: auto;
    background: rgb(51, 51, 51);
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}
/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header__list {
    display: inline-block;
  }
}

.nav__link {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 24px;
  }
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #fff;
}

.nav__link:hover::after {
  opacity: 1;
}

/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 50px;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background 0.1s linear, color 0.1s linear;
  -o-transition: background 0.1s linear, color 0.1s linear;
  transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.reverse {
  border: 3px solid #24ADE4;
  color: #24ADE4;
  -webkit-transition: background 0.1s linear, color 0.1s linear;
  -o-transition: background 0.1s linear, color 0.1s linear;
  transition: background 0.1s linear, color 0.1s linear;
}

.reverse:hover {
  background-color: #24ADE4;
  color: #fff;
}

.btn__conteiner {
  text-align: center;
}

/* Section */
.section {
  padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .section__header {
    max-width: 100%;
  }
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  width: 550px;
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto;
  color: #333;
  text-transform: initial;
}
@media (max-width: 768px) {
  .section__title {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .section__title {
    font-size: 24px;
  }
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto 30px;
  background-color: #333;
}

.section__text {
  font-size: 16px;
  color: #999;
}

/* About */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto 30px;
}
@media (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.about__image {
  width: 150px;
  height: 150px;
  margin-top: -10px;
  margin-right: 20px;
}

.about .ofd24,
.about .tis,
.about .OnlineKassa,
.about .ttc,
.about .beeline,
.about .green_kassa {
  width: 80px;
  height: 80px;
}

.about__image img {
  width: 100%;
  height: auto;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}
@media (max-width: 768px) {
  .about__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 20px 0;
  }
}

.about__item:hover {
  opacity: 0.7;
}

.about__text {
  width: 250px;
  height: 100px;
}
@media (max-width: 768px) {
  .about__text {
    height: 100%;
  }
}

/* Service */
.service {
  width: 100%;
  padding-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 129, 129)), to(rgb(167, 142, 104)));
  background: -o-linear-gradient(left, rgb(129, 129, 129), rgb(167, 142, 104));
  background: linear-gradient(90deg, rgb(129, 129, 129), rgb(167, 142, 104));
  height: 490px;
}
@media (max-width: 1270px) {
  .service {
    height: 430px;
  }
}
@media (max-width: 600px) {
  .service {
    height: 500px;
  }
}
@media (max-width: 425px) {
  .service {
    height: 360px;
  }
}

.service:after {
  content: "";
  display: block;
  width: 1200px;
  height: 2px;
  margin: 100px auto 0;
  background-color: #E0E0E0;
}
@media (max-width: 1270px) {
  .service:after {
    display: none;
  }
}

.service__header {
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto 0;
  text-align: left;
}

.service__title {
  width: 600px;
  font-size: 36px;
  color: #fff;
}
@media (max-width: 1270px) {
  .service__title {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .service__title {
    font-size: 24px;
  }
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 30px;
}
@media (max-width: 950px) {
  .service__content {
    max-width: 100%;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 600px) {
  .service__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px auto 30px;
  }
}

.service__img {
  width: 350px;
}
@media (max-width: 1270px) {
  .service__img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .service__img {
    width: 60%;
  }
}

.service__img img {
  width: 100%;
  border-radius: 10px;
}

.service__text {
  width: 350px;
  margin-top: 50px;
}
@media (max-width: 1270px) {
  .service__text {
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.service__text h2 .color__text {
  color: #4985FF;
}

.service__item {
  width: 350px;
  position: relative;
}
@media (max-width: 1270px) {
  .service__item {
    width: 33%;
    margin: 0 15px;
  }
}
@media (max-width: 950px) {
  .service__item {
    width: 45%;
  }
  .service__item:last-child {
    margin: 20px 0 50px 0;
  }
}
@media (max-width: 600px) {
  .service__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0;
  }
  .service__item:last-child {
    margin: 0;
  }
}

.service__link {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin: 20px auto;
  position: relative;
  color: #4985FF;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.service__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.service__link:hover {
  color: #4985FF;
}

.service__link:hover::after {
  opacity: 1;
}

.bloc {
  background-color: #fff;
  width: 100%;
  height: 400px;
}
@media (max-width: 1270px) {
  .bloc {
    height: 250px;
    background-color: none;
  }
}
@media (max-width: 950px) {
  .bloc {
    height: 750px;
    background-color: none;
  }
}
@media (max-width: 768px) {
  .bloc {
    height: 700px;
  }
}
@media (max-width: 600px) {
  .bloc {
    height: 950px;
  }
}
@media (max-width: 425px) {
  .bloc {
    height: 850px;
  }
}

/* Project */
.project {
  margin-top: 150px;
  background-color: #F6F6F8;
  width: 100%;
  text-align: center;
}

.project__content {
  padding: 100px 0;
  margin: 0 auto;
  width: 1200px;
  font-size: 36px;
  color: #333;
}

.project__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 50px;
}

.project__image img {
  width: 255px;
}

/* Education */
@media (max-width: 768px) {
  .education {
    display: none;
  }
}

.education__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
}
@media (max-width: 768px) {
  .education__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.education__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0 100px;
  margin: 0 auto;
  width: 1200px;
  font-size: 15px;
  color: #333;
}
@media (max-width: 1270px) {
  .education__content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .education__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.education__img {
  width: 500px;
  height: 400px;
}
@media (max-width: 768px) {
  .education__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.education__img img {
  width: 100%;
  height: auto;
}

.border {
  margin: 30px auto 100px;
  width: 1200px;
  height: 1px;
  background-color: #E0E0E0;
}
@media (max-width: 768px) {
  .border {
    margin: 50px auto 50px;
  }
}

.education__text {
  width: 600px;
}
@media (max-width: 768px) {
  .education__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.ri-telegram-fill {
  font-size: 24px;
  margin-right: 5px;
  color: #3172ff;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-small {
  display: none;
}
@media (max-width: 768px) {
  .education-small {
    display: block;
  }
}

@media (max-width: 768px) {
  .education-small__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .education-small__title {
    font-size: 30px;
  }
}

.education-small__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0 100px;
  margin: 0 auto;
  width: 1200px;
  font-size: 15px;
  color: #333;
}
@media (max-width: 1270px) {
  .education-small__content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .education-small__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .education-small__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: auto;
  }
}

.education-small__img img {
  width: 100%;
  height: auto;
}

.education-small__text {
  width: 600px;
}
@media (max-width: 768px) {
  .education-small__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: 15px 0 0 0;
  }
}

/* Feedback */
.feedback {
  background-color: #F6F6F8;
  padding: 50px 0px 50px 0px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto 100px;
  text-align: center;
}
@media (max-width: 768px) {
  .feedback {
    margin: 0 auto 50px;
  }
}

.box form {
  text-align: center;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 40px;
}

.input__wrap {
  margin: 30px auto;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.input__wrap input[type=text] {
  padding: 15px 33px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.input__wrap input[type=submit] {
  padding: 13px 54px;
  background-color: #4985FF;
  color: #fff;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/*Обратная связь*/
.obratnuj-zvonok {
  width: 100%;
  max-width: 500px;
  display: inline-block;
}

.form-zvonok {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-zvonok div {
  padding: 10px 0;
}

.bot-send-mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
@media (max-width: 425px) {
  .bot-send-mail {
    font-size: 16px;
  }
}

.form-zvonok label,
.form-zvonok input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback__msg {
  width: 100%;
  resize: vertical;
  min-height: 50px;
  padding: 10px 15px 0 15px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px 40px 0px 40px;
}

.form-zvonok label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-zvonok input {
  padding: 10px 15px;
  margin-top: 5px;
}

.form-zvonok label span {
  color: red;
}

.form-zvonok .bot-send-mail {
  padding: 15px;
  margin-top: 10px;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #4985FF;
  cursor: pointer;
  border: 3px #4985FF solid;
  border-radius: 40px;
}

.form-zvonok .bot-send-mail:hover {
  color: #4985FF;
  background-color: #fff;
}

/* Footer */
.footer {
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  background: #333;
  color: #fff;
}

.footer h2 {
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 1240px) {
  .footer h2 {
    font-size: 40px;
  }
}