.header__other {
   background-color: #333;
}

.aboutus {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   margin: 70px 0 0 0;
   @media (max-width: 425px) {
      margin: 30px 0 0 0;
   }

   &__text {
      margin: 0 0 50px 0;
   }

   &__title {
      padding: 0 0px 25px 0;
      font-size: 36px;
      color: #333;
      font-weight: 700;
   }

   &__subtext {
      margin: 100px 0 100px 0;
      text-align: center;
      width: 100%;
      @media (max-width: 425px) {
         margin: 30px 0 30px 0;
      }
   }
}
.about {
   &_foto {
      width: 100%;
      height: auto;
      border-radius: 25px;
      @media (max-width: 425px) {
         height: 300px;
         object-fit: cover;
      }
   }
}

.foto {
   &__text {
      position: absolute;
      color: #fff;
      text-shadow: rgb(105, 105, 105) 5px 0px 50px;
      padding: 150px 50px 0;
      text-align: left;
      font-size: 54px;
      font-weight: 700;
      @media (max-width: 1024px) {
         padding: 100px 50px 0;
      }
      @media (max-width: 768px) {
         padding: 90px 20px 0 20px;
         font-size: 30px;
      }
   }
}